# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment files
.venv
.venv/
venv/

node_modules/
